body{
    width: 450px;
}
footer{
    display: flex;
    flex-direction: column;
    margin-right: 0;
   padding-left: 10px;
    width:450px;
    height: 450px;
    padding-bottom: 40px;
    margin-bottom: 0;

}
.a-apropos h3{
    padding-left: 0;
    margin-left: 30px;
}
.a-apropos a {
    padding-left: 0;
    margin-left: 30px; 
}
.assitance a {
    padding-left: 0;
    margin-left:  30px;
}
.assitance h3{
    padding-left: 0;
    margin-left: 30px;
}
.nos-hebergement a{
    padding-left: 0;
    margin-left:  30px;  
}
.nos-hebergement h3{
    padding-left: 0;
    margin-left:  30px;
}

.container-actv{
  display: block;
 
}
.cotainer-actv2{
    display:flex;
    flex-direction: column;

}




#vieux-port{
     width: 100vw;
    height: 440px;
    position: relative;
}

#vieux-port img{
    height: 200px;
    width: 400px;
}
.overlay-vieux-port{
  width: 380px;
}
#Parc-National-des-calanques img{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}
.overlay-parc-calanques{
    width: 380px;
}
#fort-de-pomegues img{
    height: 200px;
    margin-top: 20px;
    width: 400px;
}
.overlay-fortdepomegues{
    width: 380px;
}
#iles-du-frioul img{
    height: 200px;
    margin-top:20px ;
    width: 400px;
}
.overlay-frioul{
    width: 380px;
}
#notre-dame-de-la-garde img{
    margin-top: 20px;
    width: 400px;

}
.overlay-notre-dame-de-la-garde{
    width: 380px;
}
#parc-longchamp img{
    margin-top: 20px;
    width: 400px;
}
.overlay-parc-longchamps{
    width: 380px;
}
.col1{
    display: flex;
    flex-direction: column;
   
}
.col2{
    display: flex;
    flex-direction: column;
}
#milieu{
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
   
}
.hebergement{
    width: 370px;
    margin-left: 0;
    background-color:#f2f2f2;
    padding-left: 30px;
    padding-right: 10px;
   
}
.hebergement h3{
    width: 100%;
}
#suite{
    padding-top: 25px;
    margin-left: 0;
}
#hotel-6 img{
    width: 350px;
}
.overlay6{
    width: 335px;

}
#hotel-1{
   
   margin-bottom: 20px;
}
#hotel-1 img{
    width: 350px;
}
.overlay1{
    width: 335px;
}
#hotel-2{
    margin-bottom: 20px;   
}
#hotel-2 img{
    width: 350px;
}
.overlay2{
    width: 335px;
}
#hotel-3{
    margin-bottom: 20px;
}
#hotel-3 img{
    width: 350px;
}
.overlay3{
    width: 335px;
}
#hotel-4{
    margin-bottom: 20px;
}
#hotel-4 img{
    width: 350px;
}
.overlay4{
    width: 335px;
}
#hotel-5{
 margin-bottom: 20px;   
}
#hotel-5 img{
    width: 350px;
}
.overlay5{
    width: 335px;
}
.populaire{
    margin-bottom: 20px;
    border-radius: 20px;


}
.filtres{
    display: flex;
    flex-wrap:wrap;
    height: max-content;
    width: 305px;
 
   
}
.filtres h4{
    width:50px;
margin-right: 100%;
  
}
.eco{
  margin-bottom: 10px;
}
.familial{
    margin-bottom: 10px;

}
.romantique{
    margin-bottom: 10px;
}
.info{
    height: 50px;
    margin-top: 20px;
    width: 400px;
    margin-bottom: 30px;
   

  }
  .maps{
    width: 400px;
  }
.slogan{
    width: 350px;
    padding-top: 20px;
padding-bottom: 40px;
line-height: 20px;
}

.nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
button{
    width: 50px;


}
