@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}


footer{

    width:100%;
    background-color: #f2f2f2;
    padding-left: 8vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    height: auto;
  
    
    
    
}
footer a {
    font-size:large;
    
}
.assitance{
    display: flex;
    flex-direction: column;
    line-height: 4vw;
    font-size: large;
    
  
}
.nos-hebergement{
    display: flex;
    flex-direction: column;
      line-height: 4vw;
      font-size: large;
}
.a-apropos{
    display: flex;
    flex-direction: column;
    line-height: 4vw;
    font-size: large;
}

#ac-tv h3{
    margin-left:8vw ;
    margin-top: 8vw;
    font-size:5vw;
    font-weight:bolder;
}


.activity{
  height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vw;
    width:100%;
  

}



#parc-longchamp{
    margin-top: 10vw;
    width: 100%;
    margin-left:8vw;
    margin-right: 8vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
#parc-longchamp img{
    
    width:93vw;
    height: 50vw;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
}
.overlay-parc-longchamps{
    position: absolute;
    bottom: 0;
    width:88vw ;
    display: flex;
    height:15vw ;
    background-color: white;
    align-items: center;
    font-size: xx-large;
    font-weight:900;
    box-shadow:10px 10px 10px #F2F2F2;
    border-radius: 0 0 30px 30px;
    padding-left: 5vw;
}

#notre-dame-de-la-garde{
    width: 100%;
    margin-left:8vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
     box-sizing: border-box;
    position: relative;
      margin-top: 10vw;
}
#notre-dame-de-la-garde img{
    width:93vw;
    height: 50vw;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
}
.overlay-notre-dame-de-la-garde{
 position: absolute;
    bottom: 0;
    width:88vw ;
    display: flex;
    height:15vw ;
    background-color: white;
    align-items: center;
    font-size: xx-large;
    font-weight:900;
    box-shadow:10px 10px 10px #F2F2F2;
    border-radius: 0 0 30px 30px;
    padding-left: 5vw;
}
#Parc-National-des-calanques{
    width: 100%;
    margin-left:8vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
     box-sizing: border-box;
    position: relative;
      margin-top: 10vw; 
}
#Parc-National-des-calanques img{
     width:93vw;
    height: 50vw;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover; 
}
.overlay-parc-calanques{
     position: absolute;
    bottom: 0;
    width:88vw ;
    display: flex;
    height:15vw ;
    background-color: white;
    align-items: center;
    font-size: xx-large;
    font-weight:900;
    box-shadow:10px 10px 10px #F2F2F2;
    border-radius: 0 0 30px 30px;
    padding-left: 5vw;
}
#iles-du-frioul{
      width: 100%;
    margin-left:8vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
     box-sizing: border-box;
    position: relative;
      margin-top: 10vw;  
}
#iles-du-frioul img{
     width:93vw;
    height: 50vw;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover; 
}
.overlay-frioul{
    position: absolute;
    bottom: 0;
    width:88vw ;
    display: flex;
    height:15vw ;
    background-color: white;
    align-items: center;
    font-size: xx-large;
    font-weight:900;
    box-shadow:10px 10px 10px #F2F2F2;
    border-radius: 0 0 30px 30px;
    padding-left: 5vw; 
}
#fort-de-pomegues{
      width: 100%;
    margin-left:8vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
     box-sizing: border-box;
    position: relative;
      margin-top: 10vw; 
}
#fort-de-pomegues img{
    width:93vw;
    height: 50vw;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover; 
}
.overlay-fortdepomegues{
    position: absolute;
    bottom: 0;
    width:88vw ;
    display: flex;
    height:15vw ;
    background-color: white;
    align-items: center;
    font-size: xx-large;
    font-weight:900;
    box-shadow:10px 10px 10px #F2F2F2;
    border-radius: 0 0 30px 30px;
    padding-left: 5vw;
}
#vieux-port{
        width: 100%;
    margin-left:8vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
     box-sizing: border-box;
    position: relative;
      margin-top: 3vw;
}
#vieux-port img {
    width:93vw;
    height: 50vw;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover; 
}
.overlay-vieux-port{
    position: absolute;
    bottom: 0;
    width:88vw ;
    display: flex;
    height:15vw ;
    background-color: white;
    align-items: center;
    font-size: xx-large;
    font-weight:900;
    box-shadow:10px 10px 10px #F2F2F2;
    border-radius: 0 0 30px 30px;
    padding-left: 5vw;
}
#milieu{
    display: flex;
    flex-direction:column-reverse;
    width: auto;
    
    
}
 i{
    color: #0065FC;
    font-size:x-large ;
    
}
.gray{
    color: rgb(228, 226, 226);
}
#suite{
    margin-left: 8vw;
    font-size: x-large;
    font-weight:bold;
    margin-top: 10vw;
}
#milieu h3{
     margin-left: 8vw;
    font-size:xx-large;
    font-weight:bold;
    margin-top: 10vw;
    width: auto;
}
#hotel-6{
width: auto;
margin-left:8vw;
margin-right: 8vw;
display: block;
margin-bottom: 7vw;
box-sizing: border-box;
position: relative;
margin-top: 10vw;  
}
#milieu h4{
    height: min-content;
    font-size: xx-large;
    font-weight: bolder;
  
}
#milieu p{
    font-size: x-large;
}
#hotel-6 img{
width:93vw;
height: 50vw;
border-radius: 30px 30px 30px 30px;
object-fit: cover;  
}
.overlay6{
position: absolute;
bottom: -5vw;
width:88vw ;
height:max-content;
background-color:white;
align-items: center;
box-shadow:10px 10px 10px #F2F2F2;
border-radius: 0 0 30px 30px;
padding-left: 5vw; 
line-height: 1vw;
padding-bottom: 2vw;
}
#hotel-5{
width: auto;
margin-left:8vw;
margin-right: 8vw;
display: block;
margin-bottom: 7vw;
box-sizing: border-box;
position: relative;
margin-top: 10vw;  
}
#hotel-5 img{
width:93vw;
height: 50vw;
border-radius: 30px 30px 30px 30px;
object-fit: cover;  
}
.overlay5{
position: absolute;
bottom: -5vw;
width:88vw ;
height:max-content;
background-color:white;
align-items: center;
box-shadow:10px 10px 10px #F2F2F2;
border-radius: 0 0 30px 30px;
padding-left: 5vw; 
line-height: 1vw;
padding-bottom: 2vw;
}
#hotel-4{
width: auto;
margin-left:8vw;
margin-right: 8vw;
display: block;
margin-bottom: 7vw;
box-sizing: border-box;
position: relative;
margin-top: 10vw;  
}
#hotel-4 img{
width:93vw;
height: 50vw;
border-radius: 30px 30px 30px 30px;
object-fit: cover;  
}
.overlay4{
position: absolute;
bottom: -5vw;
width:88vw ;
height:max-content;
background-color:white;
align-items: center;
box-shadow:10px 10px 10px #F2F2F2;
border-radius: 0 0 30px 30px;
padding-left: 5vw; 
line-height: 1vw;
padding-bottom: 2vw;
}
#hotel-3{
width: auto;
margin-left:8vw;
margin-right: 8vw;
display: block;
margin-bottom: 7vw;
box-sizing: border-box;
position: relative;
margin-top: 10vw;  
}
#hotel-3 img{
width:93vw;
height: 50vw;
border-radius: 30px 30px 30px 30px;
object-fit: cover;  
}
.overlay3{
position: absolute;
bottom: -5vw;
width:88vw ;
height:max-content;
background-color:white;
align-items: center;
box-shadow:10px 10px 10px #F2F2F2;
border-radius: 0 0 30px 30px;
padding-left: 5vw; 
line-height: 1vw;
padding-bottom: 2vw;
}
#hotel-2{
width: auto;
margin-left:8vw;
margin-right: 8vw;
display: block;
margin-bottom: 7vw;
box-sizing: border-box;
position: relative;
margin-top: 10vw;  
}
#hotel-2 img{
width:93vw;
height: 50vw;
border-radius: 30px 30px 30px 30px;
object-fit: cover;  
}
.overlay2{
position: absolute;
bottom: -5vw;
width:88vw ;
height:max-content;
background-color:white;
align-items: center;
box-shadow:10px 10px 10px #F2F2F2;
border-radius: 0 0 30px 30px;
padding-left: 5vw; 
line-height: 1vw;
padding-bottom: 2vw;
}
#hotel-1{
width: auto;
margin-left:8vw;
margin-right: 8vw;
display: block;
margin-bottom: 7vw;
box-sizing: border-box;
position: relative;
margin-top: 10vw;  
}
#hotel-1 img{
width:93vw;
height: 50vw;
border-radius: 30px 30px 30px 30px;
object-fit: cover;  
}
.overlay1{
position: absolute;
bottom: -5vw;
width:88vw ;
height:max-content;
background-color:white;
align-items: center;
box-shadow:10px 10px 10px #F2F2F2;
border-radius: 0 0 30px 30px;
padding-left: 5vw; 
line-height: 1vw;
padding-bottom: 2vw;
}
.middle-container{
 margin-left: 0;
    margin-right:0;
}
.populaire{
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: #F2F2F2;
    width:auto;
    margin-left: 8vw;
}
#title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: xx-large;
    padding-top: 0;
    width: 80%;
  
 
}
#title i{
    color: black;
    padding-top: 3vw;
    font-weight: bolder;
    font-size: xx-large;
}
#hotel-pop1{
    width:80%;
    height: 35vw;
    border:3px solid white;
    display: flex;
    border-radius: 20px;
    background-color:white;
    position: relative; 
    margin-bottom: 5vw;
    margin-left: 10%;
    margin-right: 10%;
  
    
    
    
}
.overlay-pop1{
    position: absolute;
    right: 0; 
    height: 100%;       
    background-color:white;		
    width: 60%;				
    color: black;
    border-radius: 0 20px 20px 0;
    border: 3px solid white;
    padding-left: 2vw;
   
}
#hotel-pop1 img{  
   border-radius: 20px 0 0 20px ;
   width:40%;
   height:100%;
   object-fit:cover; 
}
#hotel-pop2{
    width:80%;
    height: 35vw;
    border:3px solid white;
    display: flex;
    border-radius: 20px;
    background-color:white;
    position: relative; 
    margin-bottom: 5vw;
   margin-left: 10%;
    margin-right: 10%;
    
    
    
}
.overlay-pop2{
    position: absolute;
    right: 0; 
    height: 100%;       
    background-color:white;		
    width: 60%;				
    color: black;
    border-radius: 0 20px 20px 0;
    border: 3px solid white;
    padding-left: 2vw;
   
}
#hotel-pop2 img{  
   border-radius: 20px 0 0 20px ;
   width:40%;
   height:100%;
   object-fit:cover; 
}
#hotel-pop3{
    width:80%;
    height: 35vw;
    border:3px solid white;
    display: flex;
    border-radius: 20px;
    background-color:white;
    position: relative; 
    margin-bottom: 10vw;
     margin-left: 10%;
    margin-right: 10%;
    
    
    
}
.overlay-pop3{
    position: absolute;
    right: 0; 
    height: 100%;       
    background-color:white;		
    width: 60%;				
    color: black;
    border-radius: 0 20px 20px 0;
    border: 3px solid white;
    padding-left: 2vw;
   
}
#hotel-pop3 img{  
   border-radius: 20px 0 0 20px ;
   width:40%;
   height:100%;
   object-fit:cover; 
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    margin-left: 8vw;
    margin-right: 8vw;
}
.info i{
  
    border: 1px solid gray;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.info p{
margin-left: 10px;
}
.filtres{
    display:flex;
flex-wrap: wrap;
    width: 40vw;
    height: auto;
    text-align: center;
    justify-content: space-around;
    font-weight: bolder;
    margin-left: 8vw;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    
    
}
.filtres h4{

    margin-right: 100%;
}
.filtres i{
margin-right: 15px;
background-color: #DEEBFF;
width: 5vw;
height: 5vw;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.eco{
    display: flex;
    height:4.6vw;
    justify-content: center;
    align-items: center;
    border:1px solid #bdbfc4;
    border-radius:50px 50px 50px 50px;
    padding:  0 10px  0  0 ;
    margin-bottom: 2vw;
   
}
.familial{
    display: flex;
    height:4.6vw;
    justify-content: center;
    align-items: center;
    border:1px solid #bdbfc4;
    border-radius:50px 50px 50px 50px;
    padding:  0 10px  0  0 ;
    margin-bottom: 2vw;
   
}

.romantique{

    display: flex;
    height:4.6vw;
    justify-content: center;
    align-items: center;
    border:1px solid #bdbfc4;
    border-radius:50px 50px 50px 50px;
    padding:  0 10px  0  0 ;
    margin-bottom: 2vw;
   
}
.animaux{

    display: flex;
    height:4.6vw;
    justify-content: center;
    align-items: center;
    border:1px solid #bdbfc4;
    border-radius:50px 50px 50px 50px;
    padding:  0 10px  0  0 ;
    margin-bottom: 2vw;
   
}

.slogan{
margin-top: 4vw;
height: auto;
font-size: 5vw;
width: auto;
margin-left: 8vw;

}
.log img{
    width: 30vw;
    margin-left: 8vw;

   
   
   
}
.maps{
 width: 90vw;
 height: 50px;
 display: flex;
justify-content: center;
 }
  .gps{
    background-color: #F2F2F2;
    width: 3vw;
    height: 3vw;
    padding-top: 0.5vw;
   padding-left:2vw;
    border-radius: 15px 0  0 15px;
}

.maps input{
    width:30vw;
    height: 47px;
    padding-left: 20px;
    font-weight:bold;
    font-size: 16px;
    font-family: "Raleway";
    border: 1px solid #F2F2F2;
}
button{
background-color: #0065FC;
color: white;
height: 50px;
width: 120px;
font-weight: bolder;
font-size: 16px;
border-radius:0 15px 15px 0;
border: transparent;
font-family: "Raleway";
}
#inscrire{
    color: #0065FC;
   
}
.nav{
display: flex;
justify-content:space-between;
font-weight: bold;
width:auto;
margin-left: 8vw;
height: 6vw;
padding-top: 5vw;
}
#hr{
    margin-left: 8vw;
}
